<h2>Basic Table</h2>
<p>The .table class adds basic styling (light padding and only horizontal dividers) to a table:</p>
<table class="table">
  <thead>
  <th>Id Chauffage</th>
  <th>Power</th>
  <th>Consumption</th>
  </thead>
  <tbody>
  <tr *ngFor="let heater of heaters">
    <td>{{ heater.idHeater }}</td>
    <td>{{ heater.power }}</td>
    <td>{{ heater.consomation }}</td>
  </tr>
  </tbody>
</table>
<button type="button" class="btn btn-primary" (click)="showModal()">Add a heater</button>
<div *ngIf="isModalShown" [config]="{ show: true }" (onHidden)="onHidden()" bsModal #autoShownModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Add a heater</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="hideModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="POST" action="/person" (ngSubmit)="addPerson()">
          <div class="form-group">
            <label for="power">Power</label>
            <input id="power" type=text class="form-control" name="power" placeholder="Power"[(ngModel)]="power">
          </div>
          <div class="form-group">
            <label for="consomation">Consumption</label>
            <input id="consomation" type="text" class="form-control" name="consomation" placeholder="Consumption"[(ngModel)]="consomation">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
